<div class="box9">

  <div class="row justify-content-md-center">
    <h1>いいね通知</h1>
  </div>

  <div class="container">
    <div class="center">
      <table class="table table-hover table-inverse",border="1">
        <thead>
          <tr>
            <th>投稿者名・いいねした投稿</th>
          </tr>
        </thead>
        <div class="col"></div>
        <tbody>
          <% @like_posts.each do |like_post| %>
          <tr>
            <td>
              <%= render partial: "posts/post", locals: { post: like_post } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>




<%#= いいねした投稿　投稿タイトル名と投稿詳細に飛ぶ  %>