<div class="container">
    <%= link_to post.user.name, post_path(post.id) %><%#= いいねした投稿%>
    <%= link_to post.title, post_path(post.id) %>
    <i class="fa fa-heart unlike-btn"></i>

    <%#= いいねされた投稿　投稿タイトル名・いいねをした人の名前を表示投稿詳細ページに飛ぶ　※ユーザー紹介ページに飛ぶ%>

</div>
