<div class="container">
    <%= link_to post_path(post.id), style: "color: black;" do %>
        <%= post.user.name  %>・<%= post.title %>
        <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%#= いいねされた投稿　投稿タイトル名・いいねをした人の名前を表示投稿詳細ページに飛ぶ　※ユーザー紹介ページに飛ぶ%>
</div>
