<div class="row justify-content-md-center">
  <h1>投稿一覧</h1>
</div>

<div class="container">
    <%#= form_with url: post_search_path, local: true, method: :get do |form| %>
        <%#= form.text_field :explanation %>
        <%#= form.submit "検索" %>
    <%# end %>

    <% @posts.each do |post| %>
        <%#= link_to post_path(post.id) do %>
            <%= post.title %>
            <%# post.users.each do |user| %>
                <%#= user.name %>
            <%# end %>
            <%= post.prefecture_id %>
            <%= post.likes.count %>
            <%= image_tag post.get_profile_image(100,100) %>
        <%# end %>
    <% end %>
</div>

<%#= タイトル名  %>
<%#= 投稿者名  %>
<%#= 地名タグ  %>
<%#= いいね数  %>
<%#= 写真・画像  %>
<%#= ページネーション　3つまで  %>