// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box2 {
  height: 80px;
  background-image: url("box1.jpg");
  background-color: red;
}

h1 {
  font-size: 100px;
}